[Unit]
Description=Chissy {version} - Fake SSH server
After=network.target

[Service]
Type=simple
WorkingDirectory={workdir}
ExecStart=/usr/bin/chissy start
Restart=no

[Install]
WantedBy=multi-user.target
